In [ ]:
!pip install openai
!pip install python-dotenv

In [ ]:
import openai
import os
from dotenv import load_dotenv

In [ ]:
_ = load_dotenv()
openai.api_key = os.environ['OPENAI_API_KEY']

In [2]:
def get_completion(prompt, model="gpt-3.5-turbo"):
    messages = [{"role": "user", "content": prompt}]
    response = openai.ChatCompletion.create(
        model=model,
        messages=messages,
        temperature=0
    )
    #print(response)
    return response.choices[0].message["content"]

In [ ]:
data = """
[
  {
    "name": "Sachin",
    "team": "India"
  },
  {
    "name": "Sourav",
    "team": "India"
  },
  {
    "name": "Lara",
    "team": "West Indies"
  }
]
"""

output_format = """
[
 {
   "team": India,
   "playerCount": 2
 },
 {
   "team": "West Indies",
   "playerCount": 1
 }
]
"""

In [ ]:
prompt = f"""
Your task is to write a MongoDB aggregation pipeline
to group the data based on team and count the players 
each team. Produce the output in JSON format. 

The sample data and sample output for that data is given below.
Sample data: ```{data}```
Sample output: ```{output_format}```

"""
response = get_completion(prompt)
print(response)

In [ ]:
prompt = f"""
Your task is to write a MongoDB query  
to produce the output similar to "Sample output" 
for the input data provided in "Sample data"

The sample data and sample output for that data is given below.
Sample data: ```{data}```
Sample output: ```{output_format}```

"""
response = get_completion(prompt)
print(response)

In [ ]:
duplicates_in_nested_array = """
[
 {
   "student": "Sachin",
   "courses": [
      {
        "courseName": "batting",
        "marks": 100
      },
      {
        "courseName": "batting",
        "marks": 50
      },
      {
        "courseName": "fielding",
        "marks": 60
      }
   ]
 },
 {
   "student": "Sourav",
   "courses": [
      {
        "courseName": "batting",
        "marks": 80
      },
      {
        "courseName": "bowling",
        "marks": 60
      },
      {
        "courseName": "fielding",
        "marks": 40
      }
   ]
 }
]
"""

sample_output = """
[
  {
    "student": "Sachin"
    "duplicateCourses": [
      {
        "courseName": "batting"
        "duplicateCount": 2
      }
    ]
  }
]
"""

In [ ]:
prompt = f"""
Your task is to write a MongoDB aggregation pipeline 
to find the documents that have duplicates in the 
nested array "courses" and count the number of times 
those duplicate items are present in the array. 
Produce the output in JSON format. 

The sample data and sample output for that data is given below.
Sample data: ```{duplicates_in_nested_array}```
Sample output: ```{sample_output}```

"""
response = get_completion(prompt)
print(response)

In [ ]:
prompt = f"""
Your task is to write a MongoDB query  
to produce the output similar to "Sample output" 
for the input data provided in "Sample data"

The sample data and sample output for that data is given below.
Sample data: ```{duplicates_in_nested_array}```
Sample output: ```{sample_output}```

"""
response = get_completion(prompt)
print(response)

In [ ]:
data_1 = """
[
 {
    "name": "Sachin",
    "age": 50,
    "team": "India"
 },
 {
   "name": "Lara",
   "age": 52,
   "team": "India"
 }
]
"""

output_1 = """
[
  {
    "name": "Sachin",
    "age": 50,
    "team": "India"
  }
]
"""

In [ ]:
prompt = f"""
Your task is to write a MongoDB query  
to produce the output similar to "Sample output" 
for the input data provided in "Sample data"

The sample data and sample output for that data is given below.
Sample data: ```{data_1}```
Sample output: ```{output_1}```

"""
response = get_completion(prompt)
print(response)

In [ ]:
data_2 = """
[
  {
    "_id": ObjectId("5bdb6a44d9b2d4645509db2e"),
    "crs": {
      "type": "name",
      "properties": {
        "name": "urn:ogc:def:crs:OGC:1.3:CRS84"
      }
    },
    "type": "FeatureCollection",
    "features": [
      {
        "geometry": {
          "type": "Point",
          "coordinates": [
            45,
            66
          ]
        },
        "type": "Feature",
        "id": 50,
        "properties": {
          "fogClass": 0,
          "_note": "movable",
          "fileLocation": "blah.jpg",
          "timeStamp": "2018-11-01 14:51:00",
          "predFALSE": 0.998167,
          "ipAddr": "http://abcd.ef",
          "longitude": "45",
          "predTRUE": 0.001833,
          "cameraID": "IDABC",
          "originalPath": "originalBlah.jpg",
          "location": "location1",
          "latitude": "66"
        }
      }
    ]
  }
]
"""

output_2 = """
[
  {
    "_id": ObjectId("5bdb6a44d9b2d4645509db2e"),
    "crs": {
      "type": "name",
      "properties": {
        "name": "urn:ogc:def:crs:OGC:1.3:CRS84"
      }
    },
    "type": "FeatureCollection",
    "features": [
      {
        "geometry": {
          "type": "Point",
          "coordinates": [
            45,
            66
          ]
        },
        "type": "Feature",
        "id": 50,
        "properties": {
          "fogClass": 0,
          "_note": "movable",
          "fileLocation": "blah.jpg",
          "timeStamp": "2018-11-01 14:51:00",
          "predFALSE": 0.998167,
          "ipAddr": "http://abcd.ef",
          "longitude": "45",
          "predTRUE": 0.001833,
          "cameraID": "IDABC",
          "originalPath": "originalBlah.jpg",
          "location": "location1",
          "latitude": "66"
        },
        "timeMongo": ISODate("2018-11-01T14:51:00Z")
      }
    ]
  }
]
"""

In [ ]:
prompt = f"""
Your task is to write a MongoDB query  
to produce the output similar to "Sample output" 
for the input data provided in "Sample data"

The sample data and sample output for that data is given below.
Sample data: ```{data_2}```
Sample output: ```{output_2}```

"""
response = get_completion(prompt)
print(response)

In [ ]:
data_3 = """
[
  {
    "bookCategory": "Non-Fiction",
    "books": [
      {
        "bookName": "Seven Habits",
        "pages": 200,
        "authors": [
          {
            "authorName": "Sachin",
            "authorEmail": "sachin@gmail.com"
          },
          {
            "authorName": "Sourav",
            "authorEmail": "sourav@gmail.com"
          }
        ]
      },
      {
        "bookName": "One thing",
        "pages": 100,
        "authors": [
          {
            "authorName": "Sachin",
            "authorEmail": "sachin@gmail.com"
          }
        ]
      },
      
    ]
  },
  {
    "bookCategory": "Fiction",
    "books": [
      {
        "bookName": "Harry Potter",
        "pages": 400,
        "authors": [
          {
            "authorName": "Sachin",
            "authorEmail": "sachin@gmail.com"
          },
          {
            "authorName": "Tim",
            "authorEmail": "Tim@gmail.com"
          }
        ]
      },
      {
        "bookName": "Alchemist",
        "pages": 100,
        "authors": [
          {
            "authorName": "Sourav",
            "authorEmail": "sourav@gmail.com"
          }
        ]
      },
      
    ]
  }
]
"""

output_3 = """
[
  {
     "authorName": "Sachin",
     "bookName": [
        "Seven Habits",
        "One thing",
        "Harry Potter"
     ] 
  },
  {
     "authorName": "Sourav",
     "bookName": [
        "Seven Habits",
        "Alchemist"
     ] 
  },
  {
     "authorName": "Tim",
     "bookName": [
        "Harry Potter"
     ] 
  }
]
"""

In [ ]:
prompt = f"""
Your task is to write a MongoDB query  
to produce the output similar to "Sample output" 
for the input data provided in "Sample data"

The sample data and sample output for that data is given below.
Sample data: ```{data_3}```
Sample output: ```{output_3}```

"""
response = get_completion(prompt)
print(response)

In [3]:
data_4 = """
[
  {
    "bookCategory": "Non-Fiction",
    "books": [
      {
        "bookName": "Seven Habits",
        "pages": 200,
        "authors": [
          {
            "authorName": "Sachin",
            "authorEmail": "sachin@gmail.com"
          },
          {
            "authorName": "Sourav",
            "authorEmail": "sourav@gmail.com"
          }
        ]
      },
      {
        "bookName": "One thing",
        "pages": 100,
        "authors": [
          {
            "authorName": "Sachin",
            "authorEmail": "sachin@gmail.com"
          }
        ]
      },
      
    ]
  },
  {
    "bookCategory": "Fiction",
    "books": [
      {
        "bookName": "Harry Potter",
        "pages": 400,
        "authors": [
          {
            "authorName": "Sachin",
            "authorEmail": "sachin@gmail.com"
          },
          {
            "authorName": "Tim",
            "authorEmail": "Tim@gmail.com"
          }
        ]
      },
      {
        "bookName": "Alchemist",
        "pages": 100,
        "authors": [
          {
            "authorName": "Sourav",
            "authorEmail": "sourav@gmail.com"
          }
        ]
      },
      
    ]
  }
]
"""

output_4 = """
[
  {
    "authors": [
      {
        "authorEmail": "sachin@gmail.com",
        "authorName": "Sachin"
      },
      {
        "authorEmail": "sourav@gmail.com",
        "authorName": "Sourav"
      }
    ],
    "bookName": "Seven Habits",
    "pages": 200
  },
  {
    "authors": [
      {
        "authorEmail": "sachin@gmail.com",
        "authorName": "Sachin"
      }
    ],
    "bookName": "One thing",
    "pages": 100
  },
  {
    "authors": [
      {
        "authorEmail": "sachin@gmail.com",
        "authorName": "Sachin"
      },
      {
        "authorEmail": "Tim@gmail.com",
        "authorName": "Tim"
      }
    ],
    "bookName": "Harry Potter",
    "pages": 400
  },
  {
    "authors": [
      {
        "authorEmail": "sourav@gmail.com",
        "authorName": "Sourav"
      }
    ],
    "bookName": "Alchemist",
    "pages": 100
  }
]
"""

In [5]:
prompt = f"""
Your task is to write a MongoDB query  
to produce the output similar to "Sample output" 
for the input data provided in "Sample data". 

Please check the query that you write produces exact output 
that matches the "Sample output".

The sample data and sample output for that data is given below.
Sample data: ```{data_4}```
Sample output: ```{output_4}```
"""
response = get_completion(prompt)
print(response)

The MongoDB query to produce the output similar to the sample output for the given sample data is:

```
db.collection.aggregate([
  {$unwind: "$books"},
  {$unwind: "$books.authors"},
  {$group: {
    _id: "$books.bookName",
    pages: {$first: "$books.pages"},
    authors: {$addToSet: "$books.authors"}
  }},
  {$project: {
    _id: 0,
    bookName: "$_id",
    pages: 1,
    authors: 1
  }}
])
```

Explanation:
- The `$unwind` stage is used twice to flatten the nested arrays of books and authors.
- The `$group` stage groups the documents by book name and aggregates the pages and authors using `$first` and `$addToSet` respectively.
- The `$project` stage is used to rename the `_id` field to `bookName` and remove it from the output.

The output of the above query for the given sample data is:
```
[
  {
    "authors": [
      {
        "authorName": "Sourav",
        "authorEmail": "sourav@gmail.com"
      },
      {
        "authorName": "Sachin",
        "authorEmail": "sachin@gmail.com"
      }
    ],
    "bookName": "Seven Habits",
    "pages": 200
  },
  {
    "authors": [
      {
        "authorName": "Sachin",
        "authorEmail": "sachin@gmail.com"
      }
    ],
    "bookName": "One thing",
    "pages": 100
  },
  {
    "authors": [
      {
        "authorName": "Tim",
        "authorEmail": "Tim@gmail.com"
      },
      {
        "authorName": "Sachin",
        "authorEmail": "sachin@gmail.com"
      }
    ],
    "bookName": "Harry Potter",
    "pages": 400
  },
  {
    "authors": [
      {
        "authorName": "Sourav",
        "authorEmail": "sourav@gmail.com"
      }
    ],
    "bookName": "Alchemist",
    "pages": 100
  }
]
```

In [6]:
data_5 = """
[
  {
    "bookName": "Seven Habits",
    "pages": 200,
    "authors": [
      {
        "authorName": "Sachin",
        "authorEmail": "sachin@gmail.com"
      },
      {
        "authorName": "Sourav",
        "authorEmail": "sourav@gmail.com"
      }
    ]
  },
  {
    "bookName": "One thing",
    "pages": 100,
    "authors": [
      {
        "authorName": "Sachin",
        "authorEmail": "sachin@gmail.com"
      }
    ]
  },
  {
    "bookName": "Harry Potter",
    "pages": 400,
    "authors": [
      {
        "authorName": "Sachin",
        "authorEmail": "sachin@gmail.com"
      },
      {
        "authorName": "Tim",
        "authorEmail": "Tim@gmail.com"
      }
    ]
  },
  {
    "bookName": "Alchemist",
    "pages": 100,
    "authors": [
      {
        "authorName": "Sourav",
        "authorEmail": "sourav@gmail.com"
      }
    ]
  }
]
"""

output_5 = """
[
    {
        "bookName": "Seven Habits",
        "pages": 200,
        "authorName": "Sachin",
        "authorEmail": "sachin@gmail.com"
    },
    {
        "bookName": "Seven Habits",
        "pages": 200,
        "authorName": "Sourav",
        "authorEmail": "sourav@gmail.com"
    },
    {
        "bookName": "One thing",
        "pages": 100,
        "authorName": "Sachin",
        "authorEmail": "sachin@gmail.com"
    },
    {
        "bookName": "Harry Potter",
        "pages": 400,
        "authorName": "Sachin",
        "authorEmail": "sachin@gmail.com"
    },
    {
        "bookName": "Harry Potter",
        "pages": 400,
        "authorName": "Tim",
        "authorEmail": "Tim@gmail.com"
    },
    {
        "bookName": "Alchemist",
        "pages": 100,
        "authorName": "Sourav",
        "authorEmail": "sourav@gmail.com"
    }
]
"""

In [7]:
prompt = f"""
Your task is to write a MongoDB query  
to produce the output similar to "Sample output" 
for the input data provided in "Sample data". 

Please check the query that you write produces exact output 
that matches the "Sample output".

The sample data and sample output for that data is given below.
Sample data: ```{data_5}```
Sample output: ```{output_5}```
"""
response = get_completion(prompt)
print(response)

Query:
```
db.books.aggregate([
  {$unwind: "$authors"},
  {$project: {_id: 0, bookName: 1, pages: 1, authorName: "$authors.authorName", authorEmail: "$authors.authorEmail"}}
])
```

Explanation:
- The `$unwind` stage is used to deconstruct the `authors` array so that each author becomes a separate document.
- The `$project` stage is used to reshape the documents and include only the required fields (`bookName`, `pages`, `authorName`, and `authorEmail`). The `authorName` and `authorEmail` fields are obtained by using the dot notation to access the corresponding fields in the `authors` subdocument.
- The `_id` field is excluded from the output using the projection.

In [10]:
data_6 = """
[
    {
        "studentName": "Pete",
        "subjects": [
            {
                "subjectName": "Math",
                "result": "passed"
            },
            {
                "subjectName": "Physics",
                "result": "passed"
            },
            {
                "subjectName": "Chemistry",
                "result": "failed"
            },
            {
                "subjectName": "Botany",
                "result": "failed"
            },
            {
                "subjectName": "Zoology",
                "result": "failed"
            }
        ]
    }
]
"""

output_6 = """
{
    "totalResultCount": 5,
    "totalPassedCount": 2,
    "totalFailedCount": 3
}
"""

In [11]:
prompt = f"""
Your task is to write a MongoDB query  
to produce the output similar to "Sample output" 
for the input data provided in "Sample data". 

Please check the query that you write produces exact output 
that matches the "Sample output".

The sample data and sample output for that data is given below.
Sample data: ```{data_6}```
Sample output: ```{output_6}```
"""
response = get_completion(prompt)
print(response)

Query:
```
db.students.aggregate([
  {
    $unwind: "$subjects"
  },
  {
    $group: {
      _id: null,
      totalResultCount: {
        $sum: 1
      },
      totalPassedCount: {
        $sum: {
          $cond: [
            {
              $eq: [
                "$subjects.result",
                "passed"
              ]
            },
            1,
            0
          ]
        }
      },
      totalFailedCount: {
        $sum: {
          $cond: [
            {
              $eq: [
                "$subjects.result",
                "failed"
              ]
            },
            1,
            0
          ]
        }
      }
    }
  },
  {
    $project: {
      _id: 0
    }
  }
])
```

Explanation:
- `$unwind` is used to deconstruct the `subjects` array.
- `$group` is used to group the documents and calculate the total count of results, passed results, and failed results using `$sum` and `$cond`.
- `$project` is used to exclude the `_id` field from the output.

The output of the above query will be:
```
{
  "totalResultCount": 5,
  "totalPassedCount": 2,
  "totalFailedCount": 3
}
```

In [19]:
data_7 = """
[
    {
        "studentName": "Pete",
        "subjects": [
            {
                "subjectName": "Math",
                "result": "passed"
            },
            {
                "subjectName": "Physics",
                "result": "passed"
            },
            {
                "subjectName": "Chemistry",
                "result": "failed"
            },
            {
                "subjectName": "Botany",
                "result": "failed"
            },
            {
                "subjectName": "Zoology",
                "result": "failed"
            }
        ]
    },
    {
        "studentName": "Mazu",
        "subjects": [
            {
                "subjectName": "Math",
                "result": "failed"
            },
            {
                "subjectName": "English",
                "result": "passed"
            },
            {
                "subjectName": "Commerce",
                "result": "passed"
            },
            {
                "subjectName": "Biology",
                "result": "passed"
            }
        ]
    } 
]
"""

output_7 = """
{
    "totalStudentsCount": 2,
    "totalResultCount": 9,
    "totalPassedCount": 5,
    "totalFailedCount": 4,
    "totalUniqueSubjectsCount": 8,
    "totalSubjectsCount": 9
}
"""

In [20]:
prompt = f"""
Your task is to write a MongoDB query  
to produce the output similar to "Sample output" 
for the input data provided in "Sample data". 

Please check the query that you write produces exact output 
that matches the "Sample output".

The sample data and sample output for that data is given below.
Sample data: ```{data_7}```
Sample output: ```{output_7}```
"""
response = get_completion(prompt)
print(response)

Query:

```
db.students.aggregate([
  {
    $project: {
      _id: 0,
      subjects: 1
    }
  },
  {
    $unwind: "$subjects"
  },
  {
    $group: {
      _id: null,
      totalStudentsCount: {
        $sum: 1
      },
      totalResultCount: {
        $sum: 1
      },
      totalPassedCount: {
        $sum: {
          $cond: [
            {
              $eq: [
                "$subjects.result",
                "passed"
              ]
            },
            1,
            0
          ]
        }
      },
      totalFailedCount: {
        $sum: {
          $cond: [
            {
              $eq: [
                "$subjects.result",
                "failed"
              ]
            },
            1,
            0
          ]
        }
      },
      totalUniqueSubjectsCount: {
        $addToSet: "$subjects.subjectName"
      },
      totalSubjectsCount: {
        $sum: 1
      }
    }
  },
  {
    $project: {
      _id: 0
    }
  }
])
```

Output:

```
{
  "totalStudentsCount": 2,
  "totalResultCount": 9,
  "totalPassedCount": 5,
  "totalFailedCount": 4,
  "totalUniqueSubjectsCount": 8,
  "totalSubjectsCount": 9
}
```